* {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #000;
    color: white;
    width: 100%;
}

.header {
    background-color: black;
    color: white;
    width: 70%;
    margin: auto;
    font-size: 12px;
    text-align: center;
}

.header img {
    width: 300px;
    margin-bottom: 30px;
}

.header ul {
    display: inline-block;
    padding-right: 15px;
}

.header li {
    display: inline-block;
    padding-right: 20px;
    font-size: 18px;
    text-align: center;
   
    padding: 10px;
    border: 2px;
    border-radius: 10px;
}

.faixa {
    background-color: #df5454;
    width: 70%;
    margin: auto;
    padding: 50px;
    color: white;
    font-size: 30px;
    text-align: center;
}
